p{
    text-align: justify;
}
header, h2{
    text-align: center;
}

header h1, h2{
    text-shadow: 5px 5px 8px #595757;
}

.contenedor{
    font-size: 1.2em;
    background-color: #E6E4E4;
    margin: 2% 8%;
    padding: 1%;
    box-shadow: 5px 5px 5px #595757;
}

#mostrar{
    margin: 2% 8% 2% 2%;
    display:block;
    float: left;
    min-height: 30%;
}

a{
    text-decoration: none;
    color: white;
}

img{
    margin: auto;
}
